.modal-acciones-container {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .modal-title {
    font-size: 18px;
    font-weight: bold;
    margin: 12px 6px;
    h1 {
      margin: 6px 0;
    }
  }

  .herramienta-info {
    font-size: 16px;
    margin: 8px 6px;
    p {
      margin: 4px 0;
    }
  }

  .modal-acciones {
    display: flex;
    justify-content: space-between;
    margin: 8px 6px;

    button {
      background-color: #3c6868;
      color: white;
      border: none;
      border-radius: 4px;
      padding: 8px 16px;
      cursor: pointer;

      &:hover {
        background-color: darken(#2b4a4a, 30%);
      }
      &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
        filter: grayscale(0.3);
        box-shadow: none;
      }
    }
  }
  form{
    margin-bottom: 12px;
    .acciones-container{
      display: flex;
      flex-direction: column;
      gap: 12px;
      align-items: center;

      .btn-accion{
        background-color: #3c6868;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 8px 16px;
        cursor: pointer;

        &:hover {
          background-color: darken(#2b4a4a, 30%);
        }
        &:disabled {
          opacity: 0.4;
          cursor: not-allowed;
          filter: grayscale(0.3);
          box-shadow: none;
        }
      }
    }
  }
}
