// Darle un ancho máximo al modal
.modal-historial-proyectos-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 12px;
  //max-width: 800px; /* Ancho máximo del modal */
  //width: 100%; /* Asegura que el modal use todo el ancho disponible hasta el máximo */

  .title {
    display: flex;
    justify-content: space-around;
    margin-bottom: 12px;
  }

  .table-container {
    max-height: 600px; /* Altura máxima del área de contenido */
    overflow-y: auto; /* Habilita el scroll vertical si el contenido excede la altura máxima */
    margin-bottom: 16px;

    table {
      width: 100%;
      border-collapse: collapse;
      max-height: 400px;
      overflow-y: auto;

      th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }

      th {
        background-color: #f2f2f2;
      }
    }
  }

  .no-data-message {
    text-align: center;
    color: #666;
    font-style: italic;
    margin-top: 20px;
  }

  .modal-buttons-container {
    display: flex;
    justify-content: center;

    button {
      background-color: #3C6868;
      color: white;
      border: none;
      border-radius: 4px;
      padding: 8px 16px;
      cursor: pointer;

      &:hover {
        background-color: darken(#2B4A4A, 30%);
      }
    }
  }
}
