.modal-acciones-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  //max-height: 550px;

  .modal-title {
    font-size: 18px;
    font-weight: bold;
    margin: 6px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    h1 {
      margin: 6px 0;
    }
  }

  .herramienta-info {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px;
    justify-content: center;
    font-size: 16px;
    margin: 8px 6px;
    p {
      margin: 4px 0;
    }
  }

  .modal-acciones {
    display: flex;
    justify-content: space-between;
    margin: 8px 6px;

    button {
      background-color: #3c6868;
      color: white;
      border: none;
      border-radius: 4px;
      padding: 8px 16px;
      cursor: pointer;

      &:hover {
        background-color: darken(#2b4a4a, 10%);
      }
      &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
        filter: grayscale(0.3);
        box-shadow: none;
      }
    }
  }
  form {
    margin-bottom: 12px;
    .acciones-container {
      display: flex;
      flex-direction: column;
      gap: 12px;
      align-items: center;

      .btn-accion {
          margin-top: 12px;
          width: 150px;
          align-self: center;
          background-color: #97c3c3;
          color: #2B4A4A;
          border: none;
          border-radius: 4px;
          padding: 8px 16px;
          cursor: pointer;

        &:hover {
          background-color: #7AB3B3;
          color: #1A2D2D;
          //opacity: 0.9;
        }
        &:disabled {
          opacity: 0.4;
          cursor: not-allowed;
          filter: grayscale(0.3);
          box-shadow: none;
        }
      }

      .actualizar-form-container {
        display: flex;
        flex-direction: column;
        //gap: 5px;
        width: 100%;
        padding-bottom: 20px;
        box-sizing: border-box;
        mat-form-field {
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 12px;
          //width: 100%;
          //box-sizing: border-box;
          height: 75px;
        }
        .actualizar-form-colum {
          //flex: 1;
          padding: 8px;
        }
      }

      .eliminar-form-container{
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
        padding-bottom: 20px;
        box-sizing: border-box;
      }

      // .herramienta-success-mensaje {
      //   display: flex;
      //   align-items: center;
      //   gap: 8px;
      //   color: green;
      //   font-weight: bold;
      //   justify-content: center;
      //   mat-icon {
      //     font-size: 24px;
      //   }
      // }
      // .herramienta-error-mensaje {
      //   display: flex;
      //   align-items: center;
      //   gap: 8px;
      //   color: red;
      //   font-weight: bold;
      //   justify-content: center;
      //   mat-icon {
      //     font-size: 24px;
      //   }
      // }
    }
  }
}

