<div class="modal-acciones-container">
  <div class="modal-title">
    <h1>Acciones para proyecto</h1>
  </div>
  <div class="herramienta-info">
    <p>Nombre: {{ data.empleado.nombre }}</p>
    <p>Número de Id: {{ data.empleado.idPersonal }}</p>

  </div>
  <div class="modal-acciones">
    <button mat-button (click)="actualizarEmpleado()">Actualizar</button>
    <button mat-button (click)="eliminarEmpleado()">Eliminar</button>
    <button mat-button (click)="cerrarModal()">Cerrar</button>
  </div>

  <form [formGroup]="empleadoActualizado" (ngSubmit)="onSubmit()">
    <ng-container [ngSwitch]="accionSeleccionada">
      <div class="acciones-container">
        <!-- Eliminar -->
        <div *ngSwitchCase="'eliminar'">
          <div class="eliminar-form-container">
            <p>
              ¿Seguro que deseas eliminar el empleado
              <b>{{ data.empleado.nombre }}</b
              >?
            </p>
            <button mat-button class="btn-accion" type="submit">
              Confirmar eliminación
            </button>
            <div *ngIf="mensajeExito" class="herramienta-success-mensaje">
              <mat-icon>
                <span class="material-symbols-rounded">check_circle</span>
              </mat-icon>
              <p>{{mensajeExito}}</p>
            </div>
          </div>
        </div>

        <!-- Actualizar -->
        <div *ngSwitchCase="'actualizar'">
          <div class="actualizar-form-container">
            <div class="actualizar-form-colum">
              <mat-form-field>
                <mat-label>Nombre de empleado</mat-label>
                <input matInput formControlName="nombre" />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Apellido de empleado</mat-label>
                <input matInput formControlName="apellido" />
              </mat-form-field>

            </div>
            <div class="actualizar-form-colum">
            <mat-form-field>
              <mat-label>Cargo de empleado</mat-label>
              <input matInput formControlName="cargo" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>ID de empleado</mat-label>
              <input matInput formControlName="idPersonal" />
            </mat-form-field>
            </div>
            <button
              mat-raised-button
              [disabled]="empleadoActualizado.invalid"
              class="btn-accion"
              color="primary"
              type="submit"
            >
              Actualizar
            </button>
            <div *ngIf="isLoading" class="herramienta-success-mensaje">
              <mat-icon>
                <span class="material-symbols-rounded">check_circle</span>
              </mat-icon>
              <p>Empleado Actualizado con éxito</p>
            </div>
          </div>
        </div>

      </div>
    </ng-container>
  </form>
</div>
