@keyframes shake {
  0% { transform: translateX(0); }
  2.5% { transform: translateX(-15px); }
  5% { transform: translateX(15px); }
  7.5% { transform: translateX(-15px); }
  10% { transform: translateX(15px); }
  12.5% { transform: translateX(-15px); }
  15% { transform: translateX(15px); }
  17.5% { transform: translateX(-15px); }
  20% { transform: translateX(0); }
  100% { transform: translateX(0); }
}

.tools-icon {
  display: inline-block;
  font-size: 48px;
  animation: shake 2.6s cubic-bezier(.36,.07,.19,.97) 0s infinite both, none 1.4s linear 0.6s infinite;
}
.dashboard-container{
    display: flex;
    height: 100vh;

    app-sidebar{
        width: 250px;
        //background-color: #2c2c3e;
        background-color: #ffffff;
        color: black;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap:  10px;
        //height: 100vh;
        border: 2px solid #6C9D34;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    }

    .dashboard-content{
        flex: 1;
        padding: 20px;
        background-color: #f5f5f5;
        overflow-y: hidden;

        .dashboard-header{
          display: flex;
          flex-direction: column;
          align-items: center;

          span.tools-icon {
            font-size: 78px;
            color: #6C9D34;
            margin-top: 10px;
          }
        }
    }
}
