.dashboard-container{
    display: flex;
    height: 100vh;

    app-sidebar{
        width: 250px;
        //background-color: #2c2c3e;
        background-color: #ffffff;
        color: black;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap:  10px;
        //height: 100vh;
        border: 2px solid #6C9D34;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    }

    .dashboard-content{
        flex: 1;
        padding: 20px;
        background-color: #f5f5f5;
        overflow-y: auto;
    }
}
