.dashboard-container{
    display: flex;
    height: 100vh;

    app-sidebar{
        width: 250px;
        background-color: #2c2c3e;
        color: white;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap:  10px;
        //height: 100vh;
    }

    .dashboard-content{
        flex: 1;
        padding: 20px;
        background-color: #f5f5f5;
        overflow-y: auto;
    }
}