.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;

    .login-card{
        background-color: #fff;
        padding: 20px;
        border-radius: 25px;
        width: 300px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        gap: 10px;

        mat-label{
            color: black;
        }
    }

    .full-width{
        width: 100%;
        margin-bottom: 10px;
    }
}