<div class="modal-proyectos-container">
  <div class="title">
    <h2>Registrar un proyecto</h2>
  </div>
    <form class="modal-form" [formGroup]="proyectoForm" (ngSubmit)="registrarProyecto()">
      <mat-form-field appearance="outline">
        <mat-label>Nombre:</mat-label>
        <input matInput type="text" formControlName="nombre"  />
        <mat-error>{{errorMessage}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Número de Proyecto:</mat-label>
        <input matInput type="text" formControlName="numeroProyecto"  />
        <mat-error>{{errorMessage}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Dirección:</mat-label>
        <input matInput type="text" formControlName="direccion"  />
        <mat-error>{{errorMessage}}</mat-error>
      </mat-form-field>

    <div class="modal-buttons-container">
        <button (click)="closeModal()">Cancelar</button>
        <button type="submit" [disabled]="proyectoForm.invalid">Crear</button>
    </div>
    </form>
    <div *ngIf="mensageExitoLogin" class="loginMessage">
        {{ mensageExitoLogin }}
        <mat-icon>check_circle</mat-icon>
      </div>
  </div>
