mat-chip-set {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;

   mat-chip{
    background-color: #97C3C3;
   }
}

table {
  width: 100%;
  border-radius: 12px;
  th {
    background-color: #EBF9F4;
    color: black;
    font-weight: bold;
  }

  // tr:nth-child(even) {
  //   background-color: #f2f2f2;
  // }

  tr:hover {
    background-color: #ddd;
  }
}
