.sidebar{
    width: 250p;
    background-color: #2c2c3e;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap:  10px;

    .logo{
        font-size: 1.5rem;
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
    }

    nav button{
        width: 100%;
        padding: 10px;
        border: none;
        background-color: transparent;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border-radius: 15px;
        font-size: 1rem;
    }

    nav button:hover{
        background-color: #555;
    }
}