.sidebar{
        display: flex;
        flex-direction: column;
        width: 250px;
        background-color: #2c3e50;
        height: 100vh;

    .logo{
        font-size: 1.5rem;
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
        img{
            max-width: 100%;
            height: auto;
        }
    }

    nav button{
        width: 100%;
        padding: 10px;
        border: none;
        background-color: transparent;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border-radius: 15px;
        font-size: 1rem;
    }

    nav button:hover{
        background-color: #555;
    }
}
