<aside class="sidebar">
    <div class="logo">
      <img src="assets/imagenes/edival-logo.jpg" alt="Logo" srcset="">
    </div>
    <nav class="nav-links">
      <div class="initial-nav-item">
        <button mat-raised-button color="accent" [routerLink]="['/dashboard']">Inicio</button>
        <button mat-raised-button color="accent" [routerLink]="['/dashboard', 'herramientas']">Módulo herramienta</button>
        <button mat-raised-button color="accent" [routerLink]="['/dashboard', 'proyectos']">Módulo proyectos</button>
        <button mat-raised-button color="accent" [routerLink]="['/dashboard', 'empleados']">Módulo empleados</button>
        <ng-container *ngIf="isAdmin">
          <button mat-raised-button color="accent" [routerLink]="['/dashboard', 'usuarios']">Módulo usuarios</button>
        </ng-container>
      </div>
      <div class="logout-nav-item-container">
        <ng-container *ngIf="isAdmin">
          <button mat-raised-button color="primary" (click)="registrarUsuario()">Registrar nuevo usuario</button>
        </ng-container>
        <button mat-raised-button color="warn" (click)="logout()">Cerrar Sesión</button>
      </div>
    </nav>
</aside>
