<aside class="sidebar">
    <div class="logo">
      <img src="assets/imagenes/edival-logo.jpg" alt="Logo" srcset="">
    </div>
    <nav class="nav-links">
        <button mat-raised-button color="accent" [routerLink]="['/dashboard']">Inicio</button>
        <button mat-raised-button color="accent" [routerLink]="['/dashboard', 'proyectos']">Reporte proyectos</button>
        <button mat-raised-button color="accent" [routerLink]="['/dashboard', 'herramientas']">Reporte herramienta</button>
    </nav>
</aside>
